#header {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;


}

/*trocar cor do menuitem*/
.pro-sidebar .pro-menu .pro-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 8px;
}

/*trocar cor do dropdown*/
.pro-sidebar .pro-menu>ul>.pro-sub-menu>.pro-inner-list-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
}

/*trocar cor do dropdown collapsed*/
.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
    max-height: 100vh;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.575);
    padding-left: 20px;
    border-radius: 8px; 
}

/*abre o dropdown*/
.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu:hover > .pro-inner-list-item {
    transition: visibility, transform 0.3s;
    visibility: visible; 
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 35px 8px 20px;
    cursor: pointer; 
}

/*cor da seta do dropdown*/
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
    border-color: #f8f8f8;
}




#header .pro-sidebar {
    height: 100vh;
    position: relative;
}

.logotext h3 {
    font-weight: bold;
    color: white;
    padding: 20px 20px 20px 20px;
}

#header .userMenu {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}

#header .userMenuIcon {
    height: 30px;
    width: 30px;
    color: #000;
    margin: 10px 20px 0px 20px;
}



.hrtest {
    border: white 1px solid;
}

#header .closemenu {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    line-height: 20px;
    font-size: 22px;
    cursor: pointer;
    top: 22px;
}

#header .pro-sidebar {
    width: 100%;
    min-width: 100%;
}

#header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

#header .pro-sidebar-inner {
    background-color: #20C997;
}

.AbsoluteClass {
    position: fixed;
    right: 0;
}


#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: rgb(255, 255, 255);
    margin: 10px 0px;
    font-weight: bold;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #f5f5f5;
    color: #000;
    border-radius: 3px;
    font-size: 22px;
}


#header .logo {
    padding: 20px;
}

@media only screen and (max-width: 720px) {
    html {
        overflow: hidden;
    }
}